@font-face {
  font-family: "Noto Sans";
  src: local("☺"), url(./assets/font/NotoSans-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Noto Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
